* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "CursorGothic", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

@font-face {
  font-family: "CursorGothic";
  src: url("https://cursor.com/marketing-static/_next/static/media/CursorGothic_Regular-s.p.a361088d.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-bg: #14120b;
  --color-fg: #edecec;
  --color-fg-02: #d7d6d5;
  --color-nav-li: #d7d6d5c0;
  --color-card-hex: #1b1913;
  --color-card-01-hex: #1d1b15;
  --color-card-02-hex: #201e18;
  --color-card-03-hex: #26241e;
  --color-card-04-hex: #2b2923;
  --color-card-hover: #201e18;
  --color-border-02: #edecec1a;
  --color-text-sec: #edecec99;
  --color-add-green: #1f8a65;
  --color-add-red: #cf2d56;
}

.container {
  background-color: var(--color-bg);
  height: 100vh;
}

a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-bg);
  width: 100%;
  font-size: small;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  margin: 1rem 0;
}

.logo svg {
  height: 28px;
  width: auto;
  color: var(--color-fg);
}

ul {
  list-style-type: none;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.list-items {
  color: var(--color-fg);
}

.nav-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.btn-sign {
  background-color: var(--color-bg);
  border: 1px solid var(--color-card-04-hex);
  color: var(--color-fg);
  padding: 5px 13px;
  border-radius: 20px;
}

.btn-primary {
  background-color: var(--color-fg);
  border: 1px solid var(--color-fg);
  color: var(--color-bg);
  padding: 5px 13px;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: var(--color-fg-02);
  cursor: pointer;
}

.btn-sign:hover {
  cursor: pointer;
  background-color: var(--color-card-hex);
}

.list-items:hover {
  color: var(--color-nav-li);
}

#main {
  padding-top: 5rem;
  min-height: 100vh;
}

.hero-container {
  padding: 67.2px 20px;
}

.hero {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.hero-texts {
  text-align: left;
  max-width: 658.32px;
}

.hero h1 {
  color: var(--color-fg);
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.0125em;
  text-wrap: balance;
  margin-bottom: 24px;
}

.btn-hero {
  background-color: var(--color-fg);
  border: 1px solid var(--color-fg);
  color: var(--color-bg);
  padding: 0.78em 1.35em 0.8em;
  border-radius: 3.40282e38px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  line-height: 1;
  display: inline-flex;
}

.btn-hero:hover {
  background-color: var(--color-fg-02);
  cursor: pointer;
}

.down-arrow {
  padding-inline-start: 0.25em;
  display: inline-flex;
}

.hero-editor-showcase {
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  z-index: 1;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.editor-bg {
  position: relative;
  overflow: hidden;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  width: 100%;
  min-height: 780px;
}

.hero-img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.cursor-ui-tab-one {
  background-color: var(--color-bg);
  left: 4%;
  top: 13%;
  width: 1024px;
  height: 560px;
  z-index: 105;
  box-shadow: 0 28px 70px rgba(0, 0, 0, 0.14), 0 14px 32px rgba(0, 0, 0, 0.1),
    0 0 0 1px var(--color-border-02);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.inner-ui-head-one {
  padding-inline: 0.5rem;
  border: var(--color-border-02);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  position: relative;
}

.action-btns {
  display: flex;
  gap: 4px;
  align-items: center;
}

.atn-btn {
  background-color: var(--color-border-02);
  border-radius: 3.40282e38px;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.cursor-text-head {
  opacity: 0.7;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  left: 50%;
  position: absolute;
}

.left-head-get {
  display: flex;
  align-items: center;
  margin-right: -4px;
}

.get-cursor-btn {
  background-color: var(--color-bg);
  color: var(--color-text-sec);
  padding-block: 4px;
  padding-inline: 8px;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
}

.right-dot-head {
  color: var(--color-text-sec);
  border-radius: 0.25rem;
  background-color: var(--color-bg);
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 4px;
}

.demo-one {
  overflow: hidden;
  flex: 1;
  width: 100%;
  min-height: 0px;
}

.demo-card-one {
  width: 100%;
  height: 100%;
  min-height: 0px;
}

.demo-content-one {
  overflow: hidden;
  width: 100%;
  min-height: 0px;
  height: 100%;
  position: relative;
}

.demo-inner-one {
  width: 100%;
  height: 100%;
  display: flex;
}

.inner-left-one {
  flex-grow: 2;
  flex-basis: 0px;
  border-color: var(--color-border-02);
  border-right-style: solid;
  border-right-width: 1px;
  min-width: 190px;
  max-width: 227px;
  height: 100%;
}

.left-tab-one {
  color: var(--color-fg);
  border-color: var(--color-bg);
  width: 100%;
  height: 100%;
}

.left-content-one {
  padding: 0px;
}

.progress-box-one {
  padding-block: 5px;
}

.progress-text-one {
  color: var(--color-text-sec);
  font-size: 11px;
  line-height: 1.27273;
  letter-spacing: 0.0484px;
  font-weight: 500;
  padding-block: 4px;
  padding-inline: 12px;
}

.progress-count-one {
  color: #edecec80;
}

.progress-one-i {
  background-color: var(--color-bg);
  padding-left: 14px;
  display: flex;
  outline: none;
  font-size: 12px;
  line-height: 1.33333;
  font-weight: 400;
  text-align: left;
  padding-block: 10px;
  padding-inline: 12px;
  border-style: solid;
  border-width: 0;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  width: 100%;
}

.progress-one-loading-i {
  display: flex;
  height: 16px;
  width: 16px;
  line-height: 0;
  justify-content: center;
  align-items: center;
}

.loading-svg-one-i {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.loading-svg {
  color: var(--color-text-sec);
}

.progress-one-text-i {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1px;
  min-width: 0px;
}

.progress-text-one {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.progress-title-text-one {
  color: var(--color-text-sec);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.progress-subtitle-one {
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 1.27273;
  font-weight: 400;
  letter-spacing: 1.27273;
  color: #edecec66;
}

.progress-subtitle-text-one {
  display: flex;
  min-width: 0px;
  align-items: center;
  gap: 4px;
}

.progress-subtitle-text-inner-one {
  min-width: 0px;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.progress-one-i:hover {
  background-color: var(--color-card-hover);
}

.review-box-one {
  padding-block: 5px;
}

.review-text-one {
  padding-block: 4px;
  padding-inline: 12px;
  color: var(--color-text-sec);
  font-size: 11px;
  letter-spacing: 0.0484px;
  font-weight: 500;
}

.review-count-one {
  color: #edecec80;
  padding-left: 5px;
}

.review-one-done {
  background-color: var(--color-bg);
  padding-left: 14px;
  display: flex;
  outline: none;
  font-size: 12px;
  line-height: 1.33333;
  font-weight: 400;
  text-align: left;
  padding-block: 10px;
  padding-inline: 12px;
  border-style: solid;
  border-width: 0;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  width: 100%;
}
.review-one-done-i {
  background-color: var(--color-card-hover);
  padding-left: 14px;
  display: flex;
  outline: none;
  font-size: 12px;
  line-height: 1.33333;
  font-weight: 400;
  text-align: left;
  padding-block: 10px;
  padding-inline: 12px;
  border-style: solid;
  border-width: 0;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  width: 100%;
}

.review-one-done:hover {
  background-color: var(--color-card-hover);
}

.review-tick-one {
  display: flex;
  height: 16px;
  width: 16px;
  align-items: center;
  justify-content: center;
  text-align: left;
  cursor: pointer;
}

.review-tick-one svg {
  color: var(--color-fg-02);
}

.review-text-one-i {
  display: flex;
  min-width: 0px;
  flex: 1;
  flex-direction: column;
  gap: 1px;
}

.review-title-one-i {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.review-title-one-inner-i {
  color: var(--color-fg-02);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.review-title-one-inner-time-i {
  flex-shrink: 0;
  color: #edecec66;
}

.review-subtitle-one-i {
  display: flex;
  align-items: center;
  color: var(--color-text-sec);
}

.review-subtitle-one-inner-i {
  display: flex;
  min-width: 0px;
  align-items: center;
  gap: 4px;
}

.review-subtitle-one-inner-i-line-g-r {
  display: flex;
  align-items: center;
  gap: 2px;
}
.review-subtitle-one-inner-i-line-g {
  color: var(--color-add-green);
}
.review-subtitle-one-inner-i-line-r {
  color: var(--color-add-red);
}

.review-subtitle-text-one-i {
  min-width: 0px;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rest-ui-one-box {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row-reverse;
  flex-grow: 12;
  flex-basis: 0px;
}

.code-file-one-bg {
  min-width: 0px;
  overflow: hidden;
  border-color: var(--color-border-02);
  flex-grow: 7;
  flex-basis: 0px;
}

.code-structure-one-bg {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.code-filename-one {
  display: flex;
  height: 32px;
  align-items: center;
  gap: 0;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #1b1913;
  color: #edecece6;
  scrollbar-width: none;
}

.code-tab-first-one {
  position: relative;
  display: flex;
  height: 100%;
  cursor: pointer;
  align-items: center;
  gap: 8px;
  border-right-width: 1px;
  border-color: var(--color-border-02);
  background-color: var(--color-card-hex);
  border-right-style: solid;
  padding-right: 8px;
  padding-bottom: 1px;
  padding-left: 12px;
  color: var(--color-fg);
}

.code-tab-name-one {
  display: flex;
  height: 100%;
  cursor: pointer;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.33333;
  font-weight: 400;
  color: var(--color-fg);
  border: none;
  background-color: #00000000;
}

.close-button-one {
  margin-left: 4px;
  display: flex;
  height: 100%;
  cursor: pointer;
  align-items: center;
  color: var(--color-text-sec);
  opacity: 1;
  border: none;
  background-color: #00000000;
}

.close-button-one svg {
  color: var(--color-text-sec);
  vertical-align: middle;
}

.close-button-one svg:hover {
  color: var(--color-fg);
}

.code-tab-first-two {
  position: relative;
  display: flex;
  height: 100%;
  cursor: pointer;
  align-items: center;
  gap: 8px;
  border-right-width: 1px;
  border-color: var(--color-border-02);
  background-color: var(--color-bg);
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-right: 8px;
  padding-bottom: 1px;
  padding-left: 12px;
  color: var(--color-fg);
}

.code-tab-end {
  height: 100%;
  flex: 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--color-border-02);
  background-color: var(--color-bg);
}

.code-panel-bg {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--color-card-hex);
}

.code-panel-one {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden;
  padding-top: 8px;
  padding-left: 8px;
  font-weight: 400;
  line-height: 20px;
  font-size: 12px;
  outline-style: none;
}

.code-inner-one {
  font-family: inherit;
  overflow: visible;
  background-color: transparent;
  color: #e4e4e4eb;
}

.line {
  position: relative;
  padding-left: 1.75rem;
}

.add {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.75rem;
  padding-right: 0;
  background-color: #1f8a6514;
}

.remove {
  background-color: #cf2d560f;
  color: var(--color-text-sec);
  display: inline-block;
  width: 100%;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.75rem;
  padding-right: 0;
}

.logos {
  padding: 67.2px;
  background-color: var(--color-bg);
  padding-top: 0;
  padding-bottom: 33.6px;
  color: var(--color-fg);
}

.logo-container {
  text-align: center;
  margin-inline: auto;
  width: 100%;
  max-width: 1300px;
}

.logo-container-inner-h2 {
  margin-bottom: 22.4px;
  letter-spacing: 0.14px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}

.logos-grid {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
}

.logo-box {
  min-width: 0;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.each-logo {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--color-card-hex);
  padding-inline: 7.5px;
  height: 100px;
}

.each-logo img {
  width: auto;
  object-fit: contain;
  height: 2.5rem;
}

.agents {
  padding: 67.2px;
}

.agents-bg {
  padding: 67.2px;
  padding-block: 0;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.agent-container {
  margin-bottom: 89.6px;
  width: 100%;
  margin-inline: auto;
  max-width: 1300px;
}

.agent-container-grid {
  display: grid;
  grid-template-rows: auto 1fr;
}

.agent-container-card {
  text-decoration: inherit;
  color: inherit;
  position: relative;
  border-radius: 4px;
  background-color: var(--color-card-hex);
  padding-inline: 17.5px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 10px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  row-gap: 0px;
}

.agent-inner-content-left {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  align-items: center;
  padding-right: 30px;
  padding-left: 2.5px;
}

.agent-inner-content-left-text-box {
  width: 100%;
  max-width: 658.32px;
  justify-self: flex-start;
}

.agent-title-left {
  letter-spacing: 0.08px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.agent-title-left h3 {
  text-wrap: pretty;
  letter-spacing: -0.11px;
  font-weight: 400;
  line-height: 1.3;
  font-size: 22px;
  color: var(--color-fg);
}

.agent-subtitle {
  text-wrap: pretty;
  color: var(--color-text-sec);
  font-size: 22px;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.11px;
}

.learn-about-agent {
  margin-top: 14.9333px;
}

.learn-about-btn {
  background-color: #0000;
  border: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  color: #f54e00;
  padding: unset;
}

.agent-ide-ui-bg{
  display: grid;
  cursor: default;
  grid-column-start: 9;
  grid-column-end: 25;
  grid-row-start: 1;
  grid-row-end: 3;
  align-items: center;
}

.agent-card-grid{
  color: var(--color-fg);
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 10px;
  grid-column: 1/-1;
  grid-row: 1/-1;
  
}